body {
    background-color: #f1f1f1;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.card-header {
    text-align: center;
    background-color: #a8dadc;
}
.card-body {
    text-align: center;
}
#showTable {
  display: flex;
  justify-content: center;
}
#table{
    display: none;
}
table {
    border: 3px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-left:auto;
    margin-right:auto;
}
tr {
    border: 2px solid black;
}
th {
    text-align: center;
    border: 1px solid black;
}
td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}
#in-out {
    display: flex;
    justify-content: center;
}
canvas {
    margin-top: 20px;
}
.pieChartLegend {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 400px;
}
#pCOLegend ul{
    justify-content: center;
}
#pCOLegend li {
    cursor: pointer;
    margin: 10px 10px;
    display: flex;
}
#pCOLegend li span {
    padding-left: 8px;
}
#pCILegend ul{
    justify-content: center;
}
#pCILegend li {
    cursor: pointer;
    margin: 10px 10px;
    display: flex;
}
#pCILegend li span {
    padding-left: 8px;
}
h5 {
    text-align: center;
}
#outflow {
    display: none;
}
#lineChart{
    margin-top:50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}